<div class="screen screen--phone">
  <div class="scr-ph-frame">
    <div class="scr-ph-device">
      <div class="scr-ph-face scr-ph-back"></div>
      <div class="scr-ph-face scr-ph-left"></div>
      <div class="scr-ph-face scr-ph-right"></div>
      <div class="scr-ph-face scr-ph-top"></div>
      <div class="scr-ph-face scr-ph-bottom"></div>
      <div class="scr-ph-face scr-ph-front">
        <span class="scr-ph-cam" aria-hidden="true"></span>
        <div class="scr-ph-glass">
          <div class="scr-ph-top"><span>9:41</span><span class="scr-ph-upd"><i class="scr-ph-dot"></i>Updated 12s ago</span></div>
          <div class="scr-ph-hd"><b>Andar</b></div>
          <div class="scr-ph-hero">
            <span class="scr-ph-lab">Owed to you</span>
            <p class="scr-ph-val">&#8369;2,840,620</p>
          </div>
          <div class="scr-ph-row"><span>Stock, both warehouses</span><b>4,182 SKU</b></div>
          <div class="scr-ph-row"><span>You owe, next 7 days</span><b>&#8369;918,400</b></div>
          <div class="scr-ph-row"><span>Invoices open</span><b>41</b></div>
          <div class="scr-ph-appr">
            <i class="scr-ph-dot"></i>
            <p>Waiting on you &middot; 1 release</p>
            <span class="scr-ph-chev">&rsaquo;</span>
          </div>
          <div class="scr-ph-tabs"><span>Today</span><span>Stock</span><span>Money</span><span class="scr-ph-on">Waiting</span></div>
        </div>
      </div>
    </div>
  </div>
  <span class="illus">Illustrative</span>
</div>
