<div class="screen screen--gate">
  <div class="scr-gt-top">
    <i class="scr-gt-dot" aria-hidden="true"></i>
    <b class="scr-gt-title">Andar &middot; your phone</b>
    <span class="scr-gt-time">14:22</span>
  </div>
  <div class="scr-gt-body">
    <div class="scr-gt-bubble">
      <p class="scr-gt-msg">Release stock &middot; Bay 05 &middot; <b>&#8369;482,400.00</b><br>for <span class="scr-gt-cust">[customer]</span> &middot; <em>Waiting on you</em></p>
      <span class="scr-gt-stamp" aria-hidden="true">Approved</span>
    </div>
    <p class="scr-gt-line">Approved &middot; 14:22 &middot; Released</p>
    <div class="scr-gt-acts">
      <button class="scr-btn scr-btn--yes gate-yes" type="button">Yes</button>
      <button class="scr-btn scr-btn--ghost gate-no" type="button">Not yet</button>
    </div>
  </div>
  <span class="illus">Illustrative</span>
</div>
